In [1]:
"""
steps:
    0. import
    1. read data
    2. copy
    3. head, info, dtypes, describe, shape
    4. convert dtype
    5. isnull
    6. dropna, drop(df["col"], axis=1)
    7. go thru the question
    8. set x and y
    9. train_test_split(x, y, test_size, random_state)
    10. train the models
    11. evaluate
"""

'\nsteps:\n    0. import\n    1. read data\n    2. copy\n    3. head, info, dtypes, describe, shape\n    4. convert dtype\n    5. isnull\n    6. dropna, drop(df["col"], axis=1)\n    7. go thru the question\n    8. set x and y\n    9. train_test_split(x, y, test_size, random_state)\n    10. train the models\n    11. evaluate\n'

Classify the email using the binary classification method. Email Spam detection has two states:
a) Normal State Not Spam
b) Abnormal State Spam. 
Use K-Nearest Neighbors and Support Vector Machine for classification. Analyze their performance.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("./datasets/a2-emails.csv")
df = data.copy()
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [5]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [6]:
df.dtypes

Email No.     object
the            int64
to             int64
ect            int64
and            int64
               ...
military       int64
allowing       int64
ff             int64
dry            int64
Prediction     int64
Length: 3002, dtype: object

In [7]:
x = df.iloc[:,1:3001]
x.head()

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,0,1,0

In [8]:
y = df.iloc[:,-1]
y

0       0
1       0
2       0
3       0
4       0
       ..
5167    0
5168    0
5169    1
5170    1
5171    0
Name: Prediction, Length: 5172, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

Support Vector Classifier

In [10]:
from sklearn.svm import SVC
svc = SVC(C=1.0,kernel='rbf',gamma='auto')
svc.fit(x_train, y_train)
svc_pred = svc.predict(x_test)

In [11]:
from sklearn.metrics import accuracy_score
svc_accuracy = accuracy_score(svc_pred, y_test)
svc_accuracy

0.9014492753623189

K-Nearest Neighbor

In [12]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(x_train, y_train)
knn_pred = knn.predict(x_test)

In [13]:
knn_score = accuracy_score(knn_pred, y_test)
knn_score

0.8782608695652174